name: CI
on: [push]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: php-actions/composer@v6 # or alternative dependency management
    - uses: php-actions/phpunit@v3
      with:
        version : '9.6.11'
        php_extensions: 'gd mbstring'
    - name: Run PHPUnit with Code Coverage
      run: |
          vendor/bin/phpunit --coverage-clover=coverage.xml --exclude-directory lib/
      env:
        XDEBUG_MODE: coverage

    - name: Upload Code Coverage
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage
        path: coverage.xml
